.headline {
    color: orange;
    text-align: center;
}
img {
    width: 250px;
    align-items: center;
}

.img1 {
    position: center;
    width: 1200px;
    border: grey;
}

.img2 {
    display: flex;
    width: 250 px;
    justify-content: space-evenly;
    border: rgb(44, 39, 39);
    box-shadow: grey;
}

.a1 {
    text-align: right;
}

a {
    border: 2px solid grey;
    padding: 10px;
    margin: 20 px;
}

a:hover {
    border: 2px solid rgb(49, 7, 7);
    background-color:rgb(223, 75, 75);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 25px;
}

.style{
 text-align: center;
}

.display1 {
    display: flex;
    justify-content: space-evenly;
}
    

.style2 {
    align-content: center;
    border: 2px solid rgb(70, 63, 63);
    padding: 10px;
    margin: 2px;
    box-shadow: 2px 2px 2px grey;
}

.style3 {
    align-content: left;
    border: 2px solid grey;
    background-color: red;
    color: white;
    padding: 10 px;
    margin: 5px;
    text-align: center;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  