.headline {
    color: orangered;
    text-align: center;
}

.img1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 200px;
}