.img1 {
    position: center;
    width: 1200px;
    border: grey;
}

.headline {
    color: orange;
    text-align: center;
}

.headline1 {
    color: orangered;
}

.a1 {
    text-align: right;
}

a {
    border: 2px solid grey;
    padding: 10px;
    margin: 20 px;
}

a:hover {
    border: 2px solid rgb(49, 7, 7);
    background-color:rgb(223, 75, 75);
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 25px;
}

.style {
    display: grid;
    justify-content: space-around;
}

.style1 {
    align-content: center;
    border: 2px solid rgb(70, 63, 63);
    padding: 10px;
    margin: 2px;
    box-shadow: 2px 2px 2px grey;
}

img {
    width: 250px;
    border: 2px solid rgb(48, 42, 42);
    align-items: center;
}

.style3 {
    align-content: left;
    border: 2px solid grey;
    background-color: red;
    color: white;
    padding: 10 px;
    margin: 5px;
    text-align: center;
}
